@import url("../main.css");
body {color: #B8ADA1;}
a {color: #B8ADA1;}
#incoming a {color: #B8ADA1;}
a:active, a:hover, a:visited, a:link { background-color: #333; color: #B8ADA1;n}

#sendername {color: #A1877F;}
#service {color: #A1877F;}
#sn {color: #7f7f7f;}
#dollar {color: #A1877F;}

#incoming {color: #B9A088;}
#incoming em {color: #B9A088; background-color: #333;}

#status {color: #B8ADA1;}
#filetransfer {color: #808080;}
